section {
  width: 100vw;
  height: 100vh;
  background:black;
  background-position: center;
  object-fit: cover;
}

.container {
  width:100vw;
  height:100vh;
  box-sizing:border-box;
  display: flex;
  justify-content:center;
  align-items: center;
}

aside { 
  display:inline-block;
  text-align:center;
  justify-content:center;
  margin:auto;
  width:50%;
  box-sizing:border-box;
}

.right {
  display:inline-block;
  text-align:center;
  align-items:center; 
  margin:auto;
  width:30%;
  height:auto;
  box-sizing:border-box;
}

  article {
  color:white;
  font-size:1em;
  width:80%;
  margin:auto;
  padding:3em;
  overflow: hidden;

}

.about_headline {
  color:white;
  padding:0.2em;
  margin:0;
  font-size:5em;
}

.aboutPicture {
  width: auto;
  height:auto;
  position:relative;
  border:1px solid lightgray;
  max-width:700px;
  width:auto;
}

.thumbnail {
  visibility: hidden;
  width:0;

}

@media screen and (max-width: 1200px) {

  section {
    background-image:none;
  }

  .container {
    display:flex;
    flex-direction: column;
  }

  aside {
    margin:auto;
    width:100%;
  
  }

  h1 {
    font-size: 10px;
    text-align: center;  
  }

  .about_headline {
    font-size:3em; 
  }
  

  article {
    max-height:25em;
    margin-bottom:1.2em;
    
  }

  .thumbnail {
    visibility:visible;
    width: 100vw;
    height: auto;
    margin: auto;
  }
  
  .aboutPicture {
    display: none;
  }
}

