section {
  width: 100vw;
  height: 100vh;
  background:rgb(38, 35, 35);
  background-position: center;
  object-fit: cover;
}

.container {
  width:100%;
  height:100%;
  box-sizing:border-box;
  display: flex;
  justify-content:center;
  align-items: center;
}

aside { 
  display:inline-block;
  text-align:center;
  justify-content:center;
  width:100%;
  height:auto;
  box-sizing:border-box;

}

.right {
  display:inline-block;
  text-align:center;
  align-items:center;   
  width:100%;
  height:auto;
  padding:0;
}

  article {
  color:white;
  font-size:1em;
  width:80%;
  margin:auto;
  padding:1em;
  overflow: hidden;

}

.about_headline {
  color:white;
  padding:0.2em;
  margin:auto;
  font-size:3em;

}

.aboutPicture {
  width: 300px;
  height: 530px;
  position:relative;
  border:1px solid lightgray;
  width:auto;
  border-radius:10px;
}

.thumbnail {
  visibility: hidden;
  width:0;

}

@media screen and (max-width: 1024px) {

  section {
    background-image:none;
  }

  .container {
    display:flex;
    flex-direction: column;
  }

  aside {
    margin:auto;
    width:100%;
  
  }

  h1 {
    font-size: 10px;
    text-align: center;  
  }

  .about_headline {
    font-size:3em; 
  }
  

  article {
    max-height:25em;
    margin-bottom:1.2em;
  }

  .thumbnail {
    visibility:visible;
    width: 75vw;
    height: auto;
    margin: auto;
    border-radius:5px;
  }
  
  .aboutPicture {
    display: none;
  }
}

