section {
  width: 100vw;
  height: 100vh;
  background:black;
  background-position: center;
  object-fit: cover;
  
}

.container {
  display:inline-block;
  width:100vw;
  height:100vh;
  align-items: center;
  top:100px;
  display: inline-block;
  box-sizing:border-box;
}

aside { 
  text-align:center;
  justify-content:center;
  align-items:center; 
  width:50%;
  height:100%;
  margin: 0;
  float:left;
  padding-left:50px;
}

.right {
  text-align:center;
  justify-content:center;
  align-items:center; 
  width:50%;
  height:100%;
  padding:0;
  margin:0;
}

  article {
  color:white;
  font-size:0.9em;
  width:100%;
  margin:10px;
  margin-bottom:20px;
  

}

.about_headline {
  color:white;
  padding:12% 5% 2% 5%;
  margin:0;
}

.aboutPicture {
  width: 350px;
  height:auto;
  position:relative;
  float:right;
  border:1px solid lightgray;
  margin-top:40px; 
  max-width:500px;
}

.thumbnail {
  visibility: hidden;
  width:0;

}

@media screen and (max-width: 960px) {

  section {
    background-image:none;
  }

  aside {
    margin:auto;
    width:100%;
  
  }

  h1 {
    font-size: 10px;
    text-align: center;  
  }

  article {
    text-align: center;
    align-items:center;
    font-size:0.9em;
    overflow:hidden;
    margin:8px;
  }

  .thumbnail {
    visibility:visible;
    width: 100%;
    height: auto;
  }
}
