.CvContainer  {
  margin:auto;
  padding:50px;
  background: url("../assets/new.jpg");
  background-size:cover;
  justify-content:center;
  text-align:center;
}

.CvImage {
  display:flex;
  margin:auto;
  justify-content:center;
  align-items:center;
  width:70vw;
  height:auto;    
}

.resume-image {
  width: 50%;
  height: 50%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  justify-content:center;
  align-items:center; 
}

.headline {
  padding:10px;
  margin:50px auto;
}

@media screen and (max-width: 640px) {
  .resume-image {
    width:100%;
    height:auto;
  }
  .headline {
    padding:0px;
  }
  .CvContainer {
    height:100vh;
  }
}