.CvContainer  {
  margin:auto;
  padding:50px;
  background: linear-gradient(91.7deg, rgb(12, 3, 24) 180%, rgb(23, 23, 23) 101.8%);
}

.CvImage {
  display:flex;
  margin:auto;
  justify-content:center;
  align-items:center;
  width:70vw;
  height:auto;    
}

.resume-image {
  width: 50%;
  height: 50%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  justify-content:center;
  align-items:center; 
}

