.projectPage {
  width:100vw;
  height:100% ;
  background-image:url("../assets/projectsnew.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  image-orientation:inherit;
  text-align:center;
  padding:20px;
}

.projectContainer {
  width:100%;
  height:80vh;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  overflow:hidden;
} 

.project {
  width:300px;
  height:500px;
  background-color:white; 
  margin:0px 20px;
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  height:auto;
}

.headline {
  margin:auto;
  padding:5px;
  padding-top:100px;
  font-size: 2.7em; 
}

@media screen and (max-width: 1024px) {
  .projectContainer {
    overflow:visible;
    height:auto;
  }
  .headline {
    font-size:1.8em;
    padding:20px;
  }
}

