.projectCard {
  box-sizing:border-box;
  margin:auto;
  width: 17%;
  height: 40%; 
  background: linear-gradient(91.7deg, rgb(20, 4, 39) -180%, rgb(23, 23, 23) 101.8%);
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  border:1px solid black;
  min-height:50vh;
  border:0.5px solid rgb(51, 50, 50);
  border:0.5px solid gray; 
  opacity:80%;
}

.projectCard__title {
  font-weight: 500;
  color: white;
  font-size:1.5em;
  padding:5px;
}

.projectCard__image {
  width: 100%;
  min-height:50%;
  max-height:50%;
  object-fit:cover;
}

.projectCard__description {
  min-height:30%;
  max-height:30%;
  width:95%;
  color:white;
  font-size:0.8em;
  text-align:justify;
  text-rendering:geometricPrecision;
  overflow:hidden; 
  padding:0 10px;
} 

.projectCard__links--container {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  height:auto;
}

.projectCard__links--button {
  width:30%;
  height:30px;
  text-transform: uppercase;
  font-size:10px;
  background: coral;  
  color: white;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  padding:6px;
  margin-top: auto;
  border-radius:3px;  
}

.projectCard__links--button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}


@media screen and (max-width: 1024px) {
  .projectCard {
    width:40%;
    margin-bottom:20px; 
    height:40vh;
  }

  .projectCard__description {
    font-size:0.7em;  
  }
}  

@media screen and (max-width: 600px) {
  .projectCard {
    width:90%;
  }

}  