section {
  box-sizing:border-box;
  width: 100%;
  height: 100vh;
  background-color:white;
  background-position:center;
  background-size:cover;
  object-fit:cover;
}

.aboutContainer {
  width:100%;
  height:100%;
  box-sizing:border-box;
  display:flex;
  justify-content:center; 
}

.leftside { 
  display:block;
  text-align:center;
  width:50%;
  height:100%;
  padding:10% 0;
}

.rightside {
  display:block;
  text-align:center;
  align-items:center;
  width:50%;
  height:auto;
  margin-top: 100px;
}

.leftside article {
  color:rgb(17, 15, 15);
  font-size: 1.5em;
  font-weight:500;
  overflow: visible;
  width:100%;
  padding: 40px;
  letter-spacing: 2.5px;
}

.leftside h1 {
  font-size:4em;
  color:salmon;
  text-shadow: 3px 3px #0a0909;
}

.rightside_picture {
  width: 370px;
  height: 720px;
  width:auto;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
}

.thumbnail {
  visibility: hidden;
  width:0;
}

#contactButton {
  background-color:salmon;
}

@media screen and (max-width: 1025px) {

  .container {
    display:flex;
    flex-direction: column;
  }

  .leftside {
    margin:auto;
    width:100%;
    margin-top:
  }

  .leftside h1 {
    font-size:2em;
  }
  
  h1 {
    font-size: 10px;
    text-align: center;
  }

  .leftside article {
    height:40%;
    font-size:0.8em;
    margin-top: 10px;
  }

  .leftside article {
    height:80%;
    padding:5%;
    }

  .thumbnail {
    visibility:visible;
    width: 75vw;
    height: auto;
    margin: auto;
    border-radius:5px;
  }

  .rightside_picture {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .leftside article {
    height:50%;
    font-size:0.8em;

  }
  .thumbnail {
    visibility:visible;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius:5px;
    padding-top:10%;
  }
  .aboutPicture {
    display:none;
  }
}  
