.aboutSection {
  box-sizing:border-box;
  width: 100%;
  height: 100vh;
  background-color:white;
  background-position:center;
  background-size:cover;
  object-fit:cover;
}

.aboutContainer {
  width:100%;
  height:100%;
  box-sizing:border-box;
  display:flex;
  justify-content:center;
}

.leftside { 
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  justify-content:center;
  width:50%;
  height:100%;
  padding:10% 5%;
  margin-top:50px;
}

.rightside {
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
  width:50%;
  height:auto;
  margin-top: 100px;
}

.leftside .article {
  color:rgb(17, 15, 15);
  font-size: 1.5em;
  font-weight:500;
  overflow: visible;
  width:100%;
  padding: 40px;
  letter-spacing: 2px;
}

.leftside h1 {
  font-size:4em;
  color:salmon;
}

.rightside_picture {
  width: 25vw;
  height: 50vh;
  width:auto;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
}

.thumbnail {
  visibility: hidden;
  width:0;
}

.contactButton {
  margin-top:40px;
}


@media screen and (max-width: 1700px) {
  .leftside .article {
    color:rgb(17, 15, 15);
    font-size: 1.2em;
    justify-content:space-between;
  }

  .leftside h1 {
    font-size:3em;
    color:salmon;
    text-shadow: 3px 3px #0a0909;
  }

}

@media screen and (max-width: 1025px) {
  .leftside .article {
    color:rgb(17, 15, 15);
    font-size: 1.1em;
    justify-content:space-between;
  }

  .leftside h1 {
    font-size:3.5em;
    color:salmon;
    text-shadow: 3px 3px #0a0909;
  }

}

@media screen and (max-width: 800px) {

  .container {
    display:flex;
    flex-direction: column;
    justify-content:center;
  }

  .rightside {
    display:none;
  }

  .leftside {
    margin:auto;
    width:100%;
    justify-content:center;
    text-align:center;
    align-items:center;
  }

  .leftside h1 {
    font-size:2em;
    font-size: 10px;
    text-align: center;
  }
  
  .article {
    height:80%;
    width:75vw;
    min-width:30%;
    }

  .leftside .article {
  height:20em;
  font-size: 0.8rem;
  text-align:center;
  letter-spacing:0.15em;
  padding:20px;
  position:relative;

  }
  .thumbnail {
    visibility:visible;
    width: 80vw;
    height: auto;
    border-radius:5px;
    margin:5%;
  }
}

@media screen and (max-width: 750px) {

  .aboutContainer {
    height:100vh;
  }

  .aboutPicture {
    display:none;
  }

  .rightside_picture {
    display: none;
  }

  .leftside .article {
    height:20em;
    font-size: 0.8rem;
    text-align:center;
    letter-spacing:0.1em;
    padding:20px;
    position:relative;
  }

  .article {
    height:80%;
    width:75vw;
    }

  .leftside h1 {
    font-size:2em;
    text-align: center;
  }
}  
